<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <header class = "banners" id = "HLeft">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <header class = "banners" id = "HRight">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/news">News</a></li>
      </ul>
    </nav>
  </header>

  <div class = "mid_container">
    <div id = "header">
      <img src = "/img/blackbeard.jpg" style="height: 150px;">
      <h1><%= heading %></h1>
      <p><%= content %></p>
    </div>

    <div id = "info_pannel">
      <h1>
          Disclaimer:
      </h1>
      <h2>
        This site is and will be used to assess whether different types of writing cases and colors influence the 
        readers ease of understanding and identifying required information.

        As this experiment requires somewhat personal information, there will be a formular to complete on the next page.
        Note that this information will not be disclosed nor published and/or sold to any external source. Everything written
        on this site, will remain on the site for the duration of the experiment, after which it will be disposed of.
      </h2>
      <h2>Below is a list of what you may find in the formular you are asked to complete:</h2>
      <ul>
        <li>
          Name and Surname
        </li>
        <li>
          Age (with option to "prefere not to say")
        </li>
        <li>
          Gender (with option to "prefere not to say")
        </li>
        <li>
          whether you use computers and/or screens regularly
        </li>
        <li>
          Any visual impairments
        </li>
        <li>
          whether you play videogames or not and for how long
        </li>
        <li>
          An optional field where you can complete any information you feel needs extra explanation
        </li>
      </ul>
    </div>  
    
  </div>
  
  <div class = "next_button">
      <button type="button" > To the form! </button>
  </div>
    


  <script src="/js/script.js"></script>
</body>
</html>